<!--<form [formGroup]="rForm" class="login-form">
  <mat-grid-list [cols]="ColumnCount" rowHeight="120px">
    <mat-grid-tile *ngFor="let c of Columns; index as i"
                 [colspan]="c.ColSpan"
                 [rowspan]="c.RowSpan"
                 [style.background]="c.Color">
      <form-field [label]="layout.formLabel(layoutName,i)"
                  [name]="layout.formName(layoutName,i)"
                  [type]="layout.formType((layoutName,i))"></form-field>
    </mat-grid-tile>
  </mat-grid-list>
</form>-->
