<mat-grid-list cols="3" rowHeight="800px">
  <mat-grid-tile [colspan]="1"
                 [rowspan]="1"
                 [style.background]="transparent">
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1"
                 [rowspan]="1"
                 [style.background]="transparent">

    <p>
     
      Your password has been reset. Please check your email.
      After changing your password, <a  routerLink="/forgotPassword">click here to log in</a>.

    </p>

  </mat-grid-tile>
  <mat-grid-tile [colspan]="1"
                 [rowspan]="1"
                 [style.background]="transparent">
  </mat-grid-tile>
</mat-grid-list>
