<div style="margin-bottom:1px">
  <content-utility [layoutName]="'base'">
    <!--<div class="one">one</div>-->
    <div content-type="slotB">Home Page!</div>
    <!--<div class="three">three</div>-->
    <div content-type="slotD">four</div>
    <!--<div class="five">five</div>-->
  </content-utility>
</div>
<div>
  <content-utility [layoutName]="'baseA'">
    <!--<div class="one">one</div>-->
    <div content-type="slotH">Home Page2!</div>
    <!--<div class="three">three</div>-->
    <div content-type="slotF"><h2>blah blah</h2></div>
    <!--<div class="five">five</div>-->
  </content-utility>
</div>
