<mat-grid-list cols="3" rowHeight="800px">
  <mat-grid-tile [colspan]="1"
                 [rowspan]="1"
                 [style.background]="transparent">
    <div style="width:100%;">
      <div style="width:100%; text-align:center">
        <h2>
          Reset Password
        </h2>

      </div>
      <!--<div style="width:100%; text-align:center">
        <h4>
          Create a new account.
        </h4>
      </div>-->
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1"
                 [rowspan]="1"
                 [style.background]="transparent">

    <form [formGroup]="rForm" class="register-form">
      <mat-grid-list cols="1" rowHeight="90px">
        <mat-grid-tile [colspan]="1"
                       [rowspan]="1"
                       [style.background]="transparent">
          <mat-form-field class="register-full-width" floatlabel="never">
            <div class="authform" style="display:inline-block; width:60px; margin-right:10px">
              <label>Password</label>
            </div>
            <input type="password"
                   name="passwordA"
                   formControlName="passwordA"
                   matInput value=""
                   [errorStateMatcher]="matcher" />
            <mat-error *ngIf="rForm.controls['passwordA']?.hasError('pattern')
                              && !rForm.controls['passwordA']?.hasError('minlength')">
              Please enter a valid password.
            </mat-error>
            <mat-error *ngIf="rForm.controls['passwordA']?.hasError('minlength')">
              Password must be at least 8 characters in length
            </mat-error>
            <mat-error *ngIf="rForm.controls['passwordA']?.hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1"
                       [rowspan]="1"
                       [style.background]="transparent">
          <mat-form-field class="register-full-width" floatlabel="never">
            <div class="authform" style="display:inline-block; width:200px; margin-right:10px">
              <label>Confirm Password</label>
            </div>
            <input type="password"
                   name="passwordB"
                   matInput value=""
                   formControlName="passwordB"
                   [errorStateMatcher]="matcherB" />
            <mat-error *ngIf="rForm.hasError('notSame')  && rForm.controls['passwordB']?.value.length > 0">
              Passwords do not match
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>

      </mat-grid-list>

    </form>

  </mat-grid-tile>
  <mat-grid-tile [colspan]="1"
                 [rowspan]="1"
                 [style.background]="transparent">
    <button mat-icon-button
            [disabled]="!rForm.valid"
            (click)="Submit()">
      <mat-icon aria-label="Login">send</mat-icon>
    </button>
  </mat-grid-tile>
</mat-grid-list>
