<div style="margin-bottom:1px">
  <content-utility [layoutName]="'masterA'">
    <div content-type="slotA">
      <div style="width:100%;">
        <div class="view-header">
          Please enter your email
        </div>
        <div class="view-header">
          to recieve password reset authorization.
        </div>
      </div>
    </div>
    <div content-type="slotB">
      <form [formGroup]="rForm" class="login-form" (ngSubmit)="submit()">
        <mat-grid-list cols="2" rowHeight="120px">
          <mat-grid-tile [colspan]="2"
                         [rowspan]="1">
            <mat-form-field class="login-full-width" floatlabel="never">
              <div class="authform" style="display:inline-block; width:60px; margin-right:10px">
                <label>Email</label>
              </div>
              <input type="email"
                     matInput value=""
                     formControlName="email"
                     [errorStateMatcher]="matcher" />
              <mat-hint>someone@somewhere.com</mat-hint>
              <mat-error *ngIf="control('email')?.hasError('email')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="control('email')?.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1"
                         [rowspan]="1">
            <button mat-icon-button type="submit"
                    [disabled]="!rForm.valid">
              <mat-icon aria-label="login">send</mat-icon>
            </button>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
    </div>
    <div content-type="slotC"></div>

  </content-utility>
</div>
